header, footer {
    min-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /% shorthand for white %/
}

body {
    font-size: 16px;
    font-family: instrument serif;
}

main { 
    float: right;
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
    padding: 1.2px;
    border-image: space;   
}
 
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 80px;   
}

footer {
    text-align: center;
    
}

.grid {
    display: grid;
    align-items: center;
}

main img {
    width: 150px;
    height: auto;
    object-fit: cover;
    float: right;
    shape-outside: content-box;
    filter: drop-shadow(0 0 0.75rem)
}

main h2 {
    margin-bottom: 60px;
}

main p {
    line-height: 1.4;
}

.box{
    border: 1px solid;
    color: black;
    width: 500px; 
    height: 600px; 
    padding: 20px; 
    background: rgb(233, 231, 231);
    margin: 10px 50px 5px;
}

.box img{
    width: 500px;
}

main .box {
   width: 600px;
   height: 50px;
   background-color: rgb(233, 231, 231);
   margin: 0;
}

aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 65px;
    left: 150px;
    margin: 3px;
}
main h1 {
    color: steelblue;
    text-align: justify;
}